{% extends "base.html" %}
{% comment %} CREATE A NEW STORY {% endcomment %}
{% comment %} CREATE A NEW STORY {% endcomment %}
{%load static%}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static '.\static\news\news.css' %}">
{% endblock %}

{% block content %}


<h2>Create an Account</h2>

<br></br>
<div class ='form_area'>
    <table>
        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}         
    </table>
    <br></br>
<input class="button1" type="submit" value="submit">

</div>



{% endblock %}
