{% extends "base.html" %}
{% comment %} CREATE A NEW ACCOUNT {% endcomment %}
{% comment %} CREATE A NEW ACCOUNT {% endcomment %}
{%load static%}
{% comment %} {% block stylesheets %} {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static '.\static\news\news.css' %}
{% comment %} {% endblock %} {% endcomment %}

{% block content %}

<h2>Create an Account</h2>

<form class="create-form-class" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button1" type="submit" value="submit">
</form>
{% endblock %}