{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static 'news/news.css' %}">
{% endblock %}
{% block content %}

{% comment %} <br></br> {% endcomment %}
<div class="form_row">
    <div id="form_3_columns">
    </div>

    <div id="form_3_columns_middle">
        <h2>Edit your account</h2>
        <table>
            <form method="post">
            {% csrf_token %}
            {{ form.as_table }}         
        </table>
        <br></br>
        <div id="form_3_columns_middle_button">
        <input class="button1" type="submit" value="submit">
        </div>
    </div>

    <div id="form_3_columns">
    </div>
</div>

{% endblock %}

