{% extends "base.html" %}
{% comment %} INDIVIDUAL STORY VIEW {% endcomment %}


{% load static %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<h2>Welcome back...</h2>
<p> Username: <a href="{% url 'users:profile' request.user.id %}">{{ user.username }}</a></p>
<p> First name: <a href="{% url 'users:profile' request.user.id %}">{{ user.firstname }}</a></p>
<p> Last name: <a href="{% url 'users:profile' request.user.id %}">{{ user.lastname }}</a></p>
<p> Date joined: <a href="{% url 'users:profile' request.user.id %}">{{ user.datejoined }}</a></p>
<p> Email: <a href="{% url 'users:profile' request.user.id %}">{{ user.email }}</a></p>



{% comment %} <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form> {% endcomment %}
{% endblock %}