{% extends "base.html" %}
{% comment %} INDIVIDUAL STORY VIEW {% endcomment %}


{% load static %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<h2>Welcome back...</h2>
<p> Username: <a href="{% url 'users:profile' request.user.id %}">{{ user.username }}</a></p> 
<p> First name: <a href="{% url 'users:profile' request.user.id %}">{{ user.first_name }}</a></p>
<p> Last name: <a href="{% url 'users:profile' request.user.id %}">{{ user.last_name }}</a></p>
<p> Email: <a href="{% url 'users:profile' request.user.id %}">{{ user.email }}</a></p>
<p> Bio: <a href="{% url 'users:profile' request.user.id %}">{{ user.bio }}</a></p>
<p> Profile Picture: <a href="{% url 'users:profile' request.user.id %}">{{ user.profilepicture }}</a></p>
<p> Date Joined: <a href="{% url 'users:profile' request.user.id %}">{{ user.date_joined }}</a></p>


<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Edit Account</button>
</form>

{% endblock %}