{% load static %}
{% comment %} this is the top banner template of each page {% endcomment %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Hayley van Waas">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
            {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            {% comment %} <div id="header-text"> {% endcomment %}
            <div id="header-text", class="nav-column-1">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1 class="">She {Codes} Foods</h1>
                </a>
            </div>
            {% include './nav.html' %}
        </header>

        {% block content %}
        {% endblock %}

        <br></br>
        <footer><h4>This is the footer</h4></footer>   
    </body>
    
</html>

