{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'she_codes_news\news\static\news\news.css' %}">
{% endblock %}

{% block content %}


<h2>Latest News...</h2>

{% if user.is_authenticated %}
<h4> Welcome back...{{user.username}} </h4>
    <a class='' href="{% url 'news:newStory' %}">(+) New Story</a>
    {% else %}
        <p class="typewriter">To (+) New Story ... please  | <a href="{% url 'login' %}">Login</a> | <a href="{% url 'users:createAccount' %}">Create Account</a></p>
        {% endif %}

<h2>All Stories...</h2>
    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}

                {% comment %} <p>{{ story.title }}</p> {% endcomment %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>



{% endblock %}