{% extends "base.html" %}
{% comment %} linking the banner to the page {% endcomment %}
{% block title%}Edit Stories{% endblock%}
{%load static%}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static '.\static\news\news.css' %}">

{% endblock %}

{% block content %}
<div class="form_3_columns">
    <div id="form_3_columns_middle">
    
    </div>
    <div id="form_3_columns_middle">
        <h2>Edit your Story!</h2>

    {% comment %} <div id="grid-item-forms"> {% endcomment %}
        <table>
        <form method="post">
        {% csrf_token %}
        {{ form.as_table }}         
        </table>
        <br></br>
        <input class="button1" type="submit" value="submit">
    {% comment %} </div> {% endcomment %}

</div>

<div id="form_3_columns_middle">
    
</div>
{% endblock %}