{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'she_codes_news\news\static\news\styles.css' %}">
{% endblock %}

{% block content %}


<h2>Latest News</h2>


<a class='button1' href="{% url 'news:newStory' %}">(+) New Story</a>

<p></p>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
                {% comment %} <p>{{ story.title }}</p> {% endcomment %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}

                {% comment %} <p>{{ story.title }}</p> {% endcomment %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>


{% endblock %}