{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static '.\static\news\news.css' %}">
{% endblock %}

{% block content %}


<div>
    <h2>Latest News...</h2>

{% if user.is_authenticated %}
<p> Welcome back...{{user.username}}<a class='' href="{% url 'news:newStory' %}"> | (+) New Story</a></p>
    <div class ="div_p_login_banner">
    {% else %}
        <p class="typewriter">To (+) New Story ... please  | <a href="{% url 'login' %}">Login</a> | <a href="{% url 'users:createAccount' %}">Create Account</a></p>
        {% endif %}
    </div>
</div>

<p></p>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
                {% comment %} <p>{{ story.title }}</p> {% endcomment %}
            {% endfor %}
        {% else %}
            <p>No stories are available...</p>
        {% endif %}
    </div>

<h2>All Stories...</h2>
    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}

                {% comment %} <p>{{ story.title }}</p> {% endcomment %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>



{% endblock %}