{% extends "base.html" %}
{% comment %} INDIVIDUAL STORY VIEW {% endcomment %}
{% comment %} INDIVIDUAL STORY VIEW {% endcomment %}

{% load static %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static 'news/news.css' %}">
{% endblock %}
{% block content %}
currentuser: {{ user.id }}
post author: {{ story.author }}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4><a href="{% url 'users:profile' story.author.id %}" > Written by {{ story.author }} </a></h4>
    {% comment %} <h4>Posted... {{ story.pub_date }}</h4> - <a href="{% url 'editStory' %}">(edit)</a> {% endcomment %}
    <div id="story-content">
        {% if position < 5 %}
{% comment %} this adds the picture from the URL, if the url is broken, it will grab a picture from the repository randomly {% endcomment %}
            <img src="../static/news/images/placeholder-{{ position }}.jpg">
        {% else %}
            <img src={{story.image_url}}">
        {% endif %}
        {% comment %} <img src="{% static '/news/images/placeholder-5.jpg' %}"> {% endcomment %}
        {{ story.content|linebreaks }}
    </div>


{% endblock %}
