{% extends "base.html" %}
{% comment %} INDIVIDUAL STORY VIEW {% endcomment %}
{% comment %} INDIVIDUAL STORY VIEW {% endcomment %}

{% load static %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static 'news/news.css' %}">
{% endblock %}
{% block content %}
{% comment %} currentuser: {{ user.id }}
post author: {{ story.author }} {% endcomment %}

<h5>{{ story.title }}</h5>
<div class = "comment-wrapper">
    <div class="form_2_columns1">

    <div class ='speech-bubble'><span style='font-size:20px;'><a href="{% url 'news:like' story.id %}"> 👍🏼 {{story.liked_by.count}} </a></span></div>
                {% comment %} <p>Liked by: </p>
                <ul> {% for liked_by_user in story.liked_by.all %}
                {% comment %} <li>{{ liked_by_user.username }}</li> {% endcomment %}
                {% comment %} {{story.liked_by.count}} {% endcomment %}
                {% comment %} {% endfor %} {% endcomment %}
                {% comment %} </ul> {% endcomment %}
    <div class ='speech-bubble'><span style='font-size:20px;'><a href="{% url 'news:love' story.id %}"> ❤️ {{story.loved_by.count}} </a></span></div>
                {% comment %} Loved by  {% endcomment %}
                {% comment %} <ul> {% for loved_by_user in story.loved_by.all %} {% endcomment %}
                {% comment %} <li>{{ loved_by_user.username }}</li> {% endcomment %}
                {% comment %} {{story.loved_by.count}} {% endcomment %}
                {% comment %} {% endfor %} {% endcomment %}
                {% comment %} </ul> {% endcomment %}
    <div class ='speech-bubble'><span style='font-size:20px;'><a href="{% url 'news:dislike' story.id %}"> 👎🏼 {{story.disliked_by.count}}</a></span></div>
                {% comment %} isliked by  {% endcomment %}
                {% comment %} <ul> {% for disliked_by_user in story.disliked_by.all %} {% endcomment %}
                {% comment %} <li>{{ disliked_by_user.username }}</li> {% endcomment %}
                {% comment %} {{story.disliked_by.count}} {% endcomment %}
                {% comment %} {% endfor %} {% endcomment %}
                {% comment %} </ul> {% endcomment %}


<h4><a href="{% url 'users:profile' story.author.id %}" > Written by {{ story.author }} </a></h4>
        {% comment %} <p><a href="{% url 'news:editStory' story.id %}">Edit Post | </a> {% endcomment %}
        {% comment %} <a href="{% url 'news:deleteStory' story.id %}">Delete Post</a></p> {% endcomment %}
        {{ story.content|linebreaks }}
    </div>
    <div id="form_gap_columns">
    </div>

    <div class="form_2_columns2">
        {% if position < 5 %}
                {% comment %} this adds the picture from the URL, if the url is broken, it will grab a picture from the repository randomly {% endcomment %}
        <img src="../static/news/images/placeholder-{{ position }}.jpg">
        {% else %}
        <img class="story-page-image" src={{story.image_url}}>
        {% endif %}
        
    </div>

    <div class="form_2_columns3">
        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'news:addComment' story.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
            </form> 
            <br></br>
            
            <br></br>
            <br></br>
            <br></br>

            
            {% comment %} <button type="submit", name="'story_id", value='{{story.id}}'>Like</button> {% endcomment %}
    {% comment %} <p><a href="{% url 'news:addComment' story.id %}">Add comment</a></p> {% endcomment %}
        <ul>
            {% for comment in story.comments.all %}
            <li>{{comment.author.username}} ({{comment.created_at}}):   {{ comment.content }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <br></br>
        <br></br>
        <br></br>
            <div id="form_gap_columns">
                <br></br>
            <p>Please <a href="{% url 'login' %}">Login |</a> <a href="{% url 'users:createAccount' %}">Create Account</a> to comment...</p>

            <br></br>
            <ul>
            </div>
        {% for comment in story.comments.all %}
            <li><p>{{comment.author.username}} ({{comment.created_at}}):{{ comment.content }}</p></li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

</div> 

        
                {% comment %} <p><a href="{% url 'news:addComment' story.id %}">Add a comment | </a> {% endcomment %}
                {% comment %} <h4>Posted... {{ story.pub_date }}</h4> - <a href="{% url 'editStory' %}">(edit)</a> {% endcomment %}
        
        
                {% comment %} <img src="{% static '/news/images/placeholder-5.jpg' %}"> {% endcomment %}
                
            
        {% comment %} {% if user.is_authenticated %} {% endcomment %}


        

        {% endblock %}   






{% comment %} <div id="comment-wrapper"> {% endcomment %}
    {% comment %} <form method="POST" action="{% url 'news:deleteStory' story.id %}"> {% endcomment %}
    {% comment %} {% csrf_token %} {% endcomment %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    {% comment %} <button type="submit">Submit</button> {% endcomment %}
    {% comment %} </form>  {% endcomment %}
    {% comment %} <br></br> {% endcomment %}
{% comment %} </div>  {% endcomment %}





